.table {
    > thead {
        > tr {
            td {
                font-family: GraphikMd, Graphik, sans-serif;
                color: #000;
            }
        }
    }
    > tbody {
        > tr {
            &.parent {
                td {
                    padding-top: $gutter / 1.6;
                    padding-bottom: $gutter / 1.6;

                    &:first-child {
                        font-weight: bold;
                    }
                }
            }

            td {
                vertical-align: middle;

                &.inset-child {
                    padding: $gutter / 1.6 $gutter;

                    span {
                        color: $brand-primary;
                    }
                }
            }

            td:last-child {
                a {
                    margin-left: 10px;
                }

                a.delete {
                    color: $brand-danger;
                }
            }
        }
    }
}
