#igw-table-actions {
    margin-bottom: $gutter;
    @include clearfix;

    .left-side {
        float: left;
    }

    .right-side {
        float: right;
    }

    .igw-table-action {
        display: inline-block;
        margin-right: $gutter / 2;

        .btn-create {
            position: relative;

            img {
                position: relative;
                left: -8px;
            }
        }

        .btn-toggle {
            border: 1px solid $brand-secondary;
            color: $brand-secondary;
            @include transition(all .2s ease-in-out);

            &:hover {
                background: $brand-secondary;
                color: #fff;
            }
        }

        .select {
            min-width: 200px;
        }

    }

}
