
// Body
$body-bg: #fff;

// Brands
$brand-primary: #497DC7;
$brand-secondary: #38465A;
$brand-info: #8eb4cb;
$brand-success: #2ab27b;
$brand-warning: #cbb956;
$brand-danger: #bf5329;

// Typography
$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
$font-family-sans-serif: "Graphik", sans-serif;
$font-size-base: 14px;
$line-height-base: 1.6;
$text-color: #636b6f;

$gutter: 25px;

$red: #F2586B;
$gray: #F9F9F9;
