@import 'variables';
@import 'mixins';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';
@import 'fonts';

html, body {
    background-color: $body-bg;
    width: 100%;
    height: 100%;
}

body.login {
    background-color: $brand-secondary;
}

body.igw {
    #app {
        position: relative;
        top: 80px;
        margin-left: 80px;
        padding: $gutter;
    }
}

strong {
    font-family: GraphikMd, Graphik, sans-serif;
}

@import 'components/login';
@import 'components/buttons';
@import 'components/header';
@import 'components/sidebar';
@import 'components/table';
@import 'components/table-actions';
@import 'components/note';
@import 'components/form';
@import 'components/technical-information';
@import 'components/product-images';
@import 'components/frontpage';
@import 'components/productSync';

@import 'vendor/toggle-switch';
@import 'vendor/trumbowyg';
@import 'vendor/trumbowyg-override';
