@font-face {
  font-family: GraphikMd;
  src: url('/fonts/graphik-medium.woff') format('woff') /* Pretty Modern Browsers */
}

@font-face {
  font-family: Graphik;
  src: url('/fonts/graphik-regular.woff') format('woff') /* Pretty Modern Browsers */
}
